<label>
  Choose tests and press "Start"
</label>


<clr-tree-node [(clrSelected)]="selected">
  Smartphone tests
  <ng-template [clrIfExpanded]="true">
    <clr-tree-node
      *ngFor="let testObject of testTree"
      (clrSelected)="true">
      {{testObject.group}}
      <ng-template [(clrIfExpanded)]="testObject.expanded">
        <clr-tree-node *ngFor="let test of testObject.tests" [(clrSelected)]="test.enable">
          <clr-icon [attr.shape]="test.testIcon" *ngIf="test.testIcon" [class]="getClass(test)" size="20"></clr-icon>
          {{test.name}}
        </clr-tree-node>
      </ng-template>
    </clr-tree-node>
  </ng-template>
</clr-tree-node>


<div style="width: 500px">
  <button type="button" (click)="startTesting()" class="btn btn-primary" [disabled]="processInProgress">
    Start
  </button>


  <div class="progress loop" *ngIf="processInProgress"><progress></progress></div>
</div>


