<form (submit)="saveAccountData()" [formGroup]="accountDataControl">
  <section class="form-block">
    <label>
      Personal account
    </label>

    <div class="form-group">
      <label for="formFields_9" class="required">Name</label>
      <input type="text" id="formFields_9" size="35" formControlName="userName">
      <label *ngIf="!accountDataControl.controls['userName'].valid && accountDataControl.controls['userName'].dirty">
        value is incorrect
      </label>
    </div>


    <div class="form-group">
      <label for="formFields_10" class="required">Telephone number</label>
      <input type="tel" id="formFields_10" size="35" formControlName="phone">
      <label *ngIf="!accountDataControl.controls['phone'].valid && accountDataControl.controls['phone'].dirty">
        value is incorrect
      </label>
    </div>


    <div class="form-group">
      <label for="formFields_11" class="required">e-mail</label>
      <input type="email" id="formFields_11" size="35" formControlName="email">
      <label *ngIf="!accountDataControl.controls['email'].valid && accountDataControl.controls['email'].dirty">
        value is incorrect
      </label>
    </div>

    <button type="submit" class="btn btn-primary"
            [disabled]="!accountDataControl.valid">
      Save
    </button>

    <label *ngIf="statusMessage">
      {{statusMessage}}
    </label>

  </section>
</form>

<form (submit)="changePassword()" [formGroup]="passwordChangeControl">
  <section class="form-block">
    <label>
      Password change
    </label>

    <div class="form-group">
      <label for="formFields_password_1">Password</label>
      <input type="password" formControlName="newPassword"
             id="formFields_password_1" placeholder="Password">

      <label *ngIf="!passwordChangeControl.controls['newPassword'].valid && passwordChangeControl.controls['newPassword'].touched">
        value is incorrect
      </label>
    </div>

    <div class="form-group">
      <label for="formFields_password_2">Password (repeat)</label>
      <input type="password" formControlName="repeatNewPassword"
             id="formFields_password_2" placeholder="Password (repeat)">

      <label *ngIf="!passwordChangeControl.controls['repeatNewPassword'].valid && passwordChangeControl.controls['repeatNewPassword'].touched">
        value is incorrect
      </label>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!passwordChangeControl.valid">Change password</button>
    <label *ngIf="statusMessagePasswordChange">
      {{statusMessagePasswordChange}}
    </label>
  </section>
</form>

